<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../../css/daily.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC|Overpass&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="">文章總表</a></li>
                <li><a href="">熱門文章</a></li>
                <li><a href="">誰來我家</a></li>
                <li><a href="">關於創作者</a></li>
            </ul>
        </nav>
        
        <div id="main">
            <div class="title-container">
                <div class="title-item">
                    <div id="title">香港情勢</div>
                    <div id="date">Aug 12, 2019</div>
                </div>
                <div class="title-item back-container">
                    <a class="back-href" href="../../201908.html"><button id="back">&lt;&lt;&nbsp;返回本月文章列表</button></a>
                </div>
            </div>
            
            <div id="grid-container">
                <div class="grid-item">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/f44PQHXfAcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="grid-item article-part">
                    <div id="article">
                        <img class="member_icon" src="../../resource_files/member_icon/jim.png">  <span id="timestamp">20:51</span><br>
                        大家可以關注香港情勢(群眾包圍香港機場)，對台灣未來頗有參照性：<br>
                        (目前多個對此直播平台已被強制關閉、此為「戰友之聲」頻道)
                    </div>
                    <br><br>
                    <div id="article">
                        <img class="member_icon" src="../../resource_files/member_icon/jim.png">  <span id="timestamp">20:55</span><br>
                        今晚可能有大事件、因目前<br>
                        1.抗議群眾堅持立場、熱度不減<br>
                        2.華爾街日報報導：中共直指美國、英國為暴亂之幕後黑手<br>
                        3.早前已有多輛武警車開到深圳待命<br>
                        4.美國先前揚言若是武力鎮壓、將對中共祭出制裁、英方亦多次響應
                    </div>
                    <br><br>
                    <div id="article">
                        <img class="member_icon" src="../../resource_files/member_icon/jim.png">  <span id="timestamp">20:58</span><br>
                        早前一名女性眼睛被港警打瞎、目前群眾訴求為「港警以眼還眼」、亦有港警被群眾之汽油彈燒傷
                    </div>
                    <br><br>
                    <div id="article">
                        <img class="member_icon" src="../../resource_files/member_icon/jim.png">  <span id="timestamp">21:03</span><br>
                        今年是中共立國70週年、北戴河會議上各方勢力都在等看習近平笑話<br>
                        (中美貿易戰、國內經濟疲軟、香港問題)，<br>
                        內部如此，外部亦有英美北約勢力不斷煽動期待破局：<br>
                        今晚必是對習近平今年最大挑戰之一
                    </div>
                    <br><br>
                    <div id="article">
                        <img class="member_icon" src="../../resource_files/member_icon/jim.png">  <span id="timestamp">21:07</span><br>
                        中共官方這兩天已經開始在扣抗議群眾「恐怖主義」的帽子了，這是鎮壓制裁的起手式
                    </div>
                    <br><br>
                    <div id="article">
                        <img class="member_icon" src="../../resource_files/member_icon/jim.png">  <span id="timestamp">00:15</span><br>
                        抗議群眾理性自持、今晚接近和平落幕了
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
