.travel_title {
    text-align: center;
    margin: 20px 0px;
}

.travel_title_date {
    font-family: 'PT Serif', serif;
    font-size: 3vw;
}

.travel_title_theme {
    font-family: 'Noto Serif TC', serif;
    font-size: 6vw;
    letter-spacing: 0.1em;
}

.pic {
    max-width: 100%;
    display: block;
    margin: 0px auto;
}

.day_count{
    font-family: 'PT Serif', serif;
    font-size: 24pt;
    margin-top: 50px;
    font-weight: bold;
}

.daily_plan {
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    color: MediumOrchid;
}

table {
    margin-top: 50px;
    border: 1px solid grey;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    width: 600px;
    text-align: center;
    border-collapse: collapse;
}

td,th {
    border: 1px solid grey;
}

th {
    color: ForestGreen;
}

@media screen and (min-width: 1000px) {
    .travel_title_theme {
        font-size: 60px;
    }
    .travel_title_date {
        font-size: 30px;
    }
}
@media screen and (max-width: 700px) {
    .travel_title_theme {
        font-size: 42px;
    }
    .travel_title_date {
        font-size: 20px;
    }
}