body {
    font-family: 'Noto Sans TC', sans-serif;
    /*max-width: 1200px;*/
}

.center_pic,.spot-pic {
    max-width: 100%;
    width: 500px;
    height: auto;
}

.spot-pic {
    /*margin-left: 5%;*/
    border-radius: 50px;
}

.center_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading,.day_count,.spot_title {
    font-family: 'Noto Serif TC', serif;
    font-weight: bold;
}

.day_count,.spot_title {
    padding: 0.2% 2%;
}

.spot_name,.itinerary,.spot_desc {
    padding: 0.2% 5%;
}

.heading {
    font-size: 6vw;
    text-align: center;
    margin-top: 7%;
}

.day_count {
    font-size: 4vw;
    background: #cce6ff;
}

.spot_title {
    font-size: 3vw;
}

.spot_name {
    font-size: 2.5vw;
}

.itinerary,.spot_desc {
    font-size: 1.5vw;
}

.itinerary {
    color: Magenta;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    background-color: LightGray;
}

nav ul {
    margin: 0px;
    padding: 1%;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: MediumOrchid;
}

a:hover {
    color: Orange;
}

.story {
    color: MediumSlateBlue;
}

@media screen and (min-width: 1200px) {
    .heading {
        font-size: 72px;
    }
    .day_count {
        font-size: 48px;
    }
    .spot_title {
        font-size: 36px;
    }
    .spot_name {
        font-size: 30px;
    }
    .itinerary,.spot_desc {
        font-size: 18px;
    }
}

@media screen and (max-width: 1066px) {
    .heading {
        font-size: 36px;
    }
    .day_count {
        font-size: 24px;
    }
    .spot_title {
        font-size: 22px;
    }
    .spot_name {
        font-size: 20px;
    }
    .itinerary,.spot_desc {
        font-size: 16px;
    }
}
