body {
    margin: auto;
    font-family: 'Noto Serif TC', serif;
    width: 80%;
}

a {
    text-decoration: none;
}

#main {
    margin: 50px auto;
}

nav ul {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #85a3e0;
}

nav {
    margin: 0 auto;
    padding: 5px;
    border: solid;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: thin;
    border-color: lightgray;
    box-shadow: 1px 1px lightgray;
}

.member-icon {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

#title {
    font-size: 56px;
    /*background: linear-gradient(white,lightgrey);*/
}

.timestamp {
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
}

#date {
    font-family: 'Livvic', sans-serif;
    padding: 8px;
}

.message {
    font-size: 18px;
    white-space: pre-wrap;
}

#text-part {
    max-height: 1300px;
    overflow-y: auto;
}

.date-change {
    font-family: 'Livvic', sans-serif;
    font-style: italic;
    color: grey;
}

#chat-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    justify-items: start;
    align-items: start;
}

#one-img-media-part {
    width: 100%;
    height: auto;
}

#multi-img-media-part {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.current-img {
    border: solid;
    border-width: medium;
    border-color: #6495ed;
    padding: 2px;
}

.shrink-img {
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
}

#expand-img {
    width: 100%;
    cursor: pointer;
}

ol {
    margin: 5px;
}

#header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#back-container {
    position: relative;
}

#back-href {
    position: absolute;
    top: 20px;
    right: 0px;
}

#back-button {
    text-align: center;
    font-size: 16px;
    width: 190px;
    height: 40px;
    line-height: 22px;
    border: solid;
    border-radius: 20px;
    border-color: #ff751a;
    color: #ff751a;
    display: block;
    background: white;
    font-family: 'Noto Serif TC', serif;
}

#back-button:hover {
    color: #fff;
    background: #ff751a;
    cursor: pointer;
}

.href_text {
    color: #00cca3;
}

.href_text:hover {
    color: #00b300;
}

video {
    width: 100%;
}

@media only screen and (max-width: 750px) {
    #chat-container {
        grid-template-columns: 1fr;
    }
    
    #header-container {
        grid-template-columns: 1fr;
    }
    
    /*#multi-img-media-part {
        grid-template-columns: 1fr;
    }*/
}