.chinese_p {
    font-family: 'Noto Serif TC', serif;
    font-size: 1.5em;
}

.pic {
    width: 100%;
}

.dad_line_articles_date {
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    background: Gainsboro;
}

.dad_line_articles_body {
    margin: 80px auto;
    width: 80%;
}