.chinese {
    font-family: 'Noto Serif TC', serif;
}

body {
    width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 60pt;
    text-align: center;
}

img {
    display: block;
    margin: auto;
    max-width: 1200px;
}

#travel_list {
    font-family: 'Fredoka One', cursive;
    font-size: 20pt;
    text-align: center;
}

.list_item {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.day_count{
    font-family: 'PT Serif', serif;
    font-size: 24pt;
    margin-top: 50px;
    font-weight: bold;
}

.daily_plan {
    font-family: 'Noto Serif TC', serif;
    font-size: 20px;
    color: MediumOrchid;
}

table {
    margin-top: 50px;
    border: 1px solid grey;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    width: 600px;
    text-align: center;
    border-collapse: collapse;
}

td,th {
    border: 1px solid grey;
}

th {
    color: ForestGreen;
}